.card-one {
  border-radius: 10px;
  cursor: pointer;
  &.gradient-one {
    box-shadow: $color-two 3px 12px 24px;
    background: hsla(240, 2%, 12%, 1) 26%;

    background: linear-gradient(
      45deg,
      hsla(328, 56%, 45%, 0.4) 0%,
      hsla(240, 2%, 12%, 0.4) 26%,
      hsla(330, 55%, 4%, 0.4) 78%,
      hsla(328, 56%, 45%, 0.4) 100%
    );

    background: -moz-linear-gradient(
      45deg,
      hsla(328, 56%, 45%, 0.4) 0%,
      hsla(240, 2%, 12%, 0.4) 26%,
      hsla(330, 55%, 4%, 0.4) 78%,
      hsla(328, 56%, 45%, 0.4) 100%
    );

    background: -webkit-linear-gradient(
      45deg,
      hsla(328, 56%, 45%, 0.4) 0%,
      hsla(240, 2%, 12%, 0.4) 26%,
      hsla(330, 55%, 4%, 0.4) 78%,
      hsla(328, 56%, 45%, 0.4) 100%
    );
  }
  &.gradient-two {
    box-shadow: $color-one 3px 12px 24px;
    background: hsla(240, 2%, 12%, 1) 26%;

    background: linear-gradient(
      45deg,
      hsla(191, 85%, 61%, 0.4) 0%,
      hsla(240, 2%, 12%, 0.4) 26%,
      hsla(330, 55%, 4%, 0.4) 78%,
      hsla(191, 85%, 61%, 0.4) 100%
    );

    background: -moz-linear-gradient(
      45deg,
      hsla(191, 85%, 61%, 0.4) 0%,
      hsla(240, 2%, 12%, 0.4) 26%,
      hsla(330, 55%, 4%, 0.4) 78%,
      hsla(191, 85%, 61%, 0.4) 100%
    );

    background: -webkit-linear-gradient(
      45deg,
      hsla(191, 85%, 61%, 0.4) 0%,
      hsla(240, 2%, 12%, 0.4) 26%,
      hsla(330, 55%, 4%, 0.4) 78%,
      hsla(191, 85%, 61%, 0.4) 100%
    );
  }
}
