/* Variables */

$sp-none: 0rem;
$sp-xs: 0.25rem;
$sp-sm: 0.5rem;
$sp-md: 1rem;
$sp-lg: 2rem;
$sp-xl: 4rem;
$sp-xxl: 8rem;
$sp-xxxl: 16rem;

/*
   SPACING
   Docs: http://tachyons.io/docs/layout/spacing/
   An eight step powers of two scale ranging from 0 to 16rem.
   Base:
     p = padding
     m = margin
   Modifiers:
     a = all
     h = horizontal
     v = vertical
     t = top
     r = right
     b = bottom
     l = left
     0 = none
     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale
   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

.pa0 {
  padding: $sp-none;
}
.pa1 {
  padding: $sp-xs;
}
.pa2 {
  padding: $sp-sm;
}
.pa3 {
  padding: $sp-md;
}
.pa4 {
  padding: $sp-lg;
}
.pa5 {
  padding: $sp-xl;
}
.pa6 {
  padding: $sp-xxl;
}
.pa7 {
  padding: $sp-xxxl;
}

.pl0 {
  padding-left: $sp-none;
}
.pl1 {
  padding-left: $sp-xs;
}
.pl2 {
  padding-left: $sp-sm;
}
.pl3 {
  padding-left: $sp-md;
}
.pl4 {
  padding-left: $sp-lg;
}
.pl5 {
  padding-left: $sp-xl;
}
.pl6 {
  padding-left: $sp-xxl;
}
.pl7 {
  padding-left: $sp-xxxl;
}

.pr0 {
  padding-right: $sp-none;
}
.pr1 {
  padding-right: $sp-xs;
}
.pr2 {
  padding-right: $sp-sm;
}
.pr3 {
  padding-right: $sp-md;
}
.pr4 {
  padding-right: $sp-lg;
}
.pr5 {
  padding-right: $sp-xl;
}
.pr6 {
  padding-right: $sp-xxl;
}
.pr7 {
  padding-right: $sp-xxxl;
}

.pb0 {
  padding-bottom: $sp-none;
}
.pb1 {
  padding-bottom: $sp-xs;
}
.pb2 {
  padding-bottom: $sp-sm;
}
.pb3 {
  padding-bottom: $sp-md;
}
.pb4 {
  padding-bottom: $sp-lg;
}
.pb5 {
  padding-bottom: $sp-xl;
}
.pb6 {
  padding-bottom: $sp-xxl;
}
.pb7 {
  padding-bottom: $sp-xxxl;
}

.pt0 {
  padding-top: $sp-none;
}
.pt1 {
  padding-top: $sp-xs;
}
.pt2 {
  padding-top: $sp-sm;
}
.pt3 {
  padding-top: $sp-md;
}
.pt4 {
  padding-top: $sp-lg;
}
.pt5 {
  padding-top: $sp-xl;
}
.pt6 {
  padding-top: $sp-xxl;
}
.pt7 {
  padding-top: $sp-xxxl;
}

.pv0 {
  padding-top: $sp-none;
  padding-bottom: $sp-none;
}
.pv1 {
  padding-top: $sp-xs;
  padding-bottom: $sp-xs;
}
.pv2 {
  padding-top: $sp-sm;
  padding-bottom: $sp-sm;
}
.pv3 {
  padding-top: $sp-md;
  padding-bottom: $sp-md;
}
.pv4 {
  padding-top: $sp-lg;
  padding-bottom: $sp-lg;
}
.pv5 {
  padding-top: $sp-xl;
  padding-bottom: $sp-xl;
}
.pv6 {
  padding-top: $sp-xxl;
  padding-bottom: $sp-xxl;
}

.pv7 {
  padding-top: $sp-xxxl;
  padding-bottom: $sp-xxxl;
}

.ph0 {
  padding-left: $sp-none;
  padding-right: $sp-none;
}

.ph1 {
  padding-left: $sp-xs;
  padding-right: $sp-xs;
}

.ph2 {
  padding-left: $sp-sm;
  padding-right: $sp-sm;
}

.ph3 {
  padding-left: $sp-md;
  padding-right: $sp-md;
}

.ph4 {
  padding-left: $sp-lg;
  padding-right: $sp-lg;
}

.ph5 {
  padding-left: $sp-xl;
  padding-right: $sp-xl;
}

.ph6 {
  padding-left: $sp-xxl;
  padding-right: $sp-xxl;
}

.ph7 {
  padding-left: $sp-xxxl;
  padding-right: $sp-xxxl;
}

.ma0 {
  margin: $sp-none;
}
.ma1 {
  margin: $sp-xs;
}
.ma2 {
  margin: $sp-sm;
}
.ma3 {
  margin: $sp-md;
}
.ma4 {
  margin: $sp-lg;
}
.ma5 {
  margin: $sp-xl;
}
.ma6 {
  margin: $sp-xxl;
}
.ma7 {
  margin: $sp-xxxl;
}

.ml0 {
  margin-left: $sp-none;
}
.ml1 {
  margin-left: $sp-xs;
}
.ml2 {
  margin-left: $sp-sm;
}
.ml3 {
  margin-left: $sp-md;
}
.ml4 {
  margin-left: $sp-lg;
}
.ml5 {
  margin-left: $sp-xl;
}
.ml6 {
  margin-left: $sp-xxl;
}
.ml7 {
  margin-left: $sp-xxxl;
}

.mr0 {
  margin-right: $sp-none;
}
.mr1 {
  margin-right: $sp-xs;
}
.mr2 {
  margin-right: $sp-sm;
}
.mr3 {
  margin-right: $sp-md;
}
.mr4 {
  margin-right: $sp-lg;
}
.mr5 {
  margin-right: $sp-xl;
}
.mr6 {
  margin-right: $sp-xxl;
}
.mr7 {
  margin-right: $sp-xxxl;
}

.mb0 {
  margin-bottom: $sp-none;
}
.mb1 {
  margin-bottom: $sp-xs;
}
.mb2 {
  margin-bottom: $sp-sm;
}
.mb3 {
  margin-bottom: $sp-md;
}
.mb4 {
  margin-bottom: $sp-lg;
}
.mb5 {
  margin-bottom: $sp-xl;
}
.mb6 {
  margin-bottom: $sp-xxl;
}
.mb7 {
  margin-bottom: $sp-xxxl;
}

.mt0 {
  margin-top: $sp-none;
}
.mt1 {
  margin-top: $sp-xs;
}
.mt2 {
  margin-top: $sp-sm;
}
.mt3 {
  margin-top: $sp-md;
}
.mt4 {
  margin-top: $sp-lg;
}
.mt5 {
  margin-top: $sp-xl;
}
.mt6 {
  margin-top: $sp-xxl;
}
.mt7 {
  margin-top: $sp-xxxl;
}

.mv0 {
  margin-top: $sp-none;
  margin-bottom: $sp-none;
}
.mv1 {
  margin-top: $sp-xs;
  margin-bottom: $sp-xs;
}
.mv2 {
  margin-top: $sp-sm;
  margin-bottom: $sp-sm;
}
.mv3 {
  margin-top: $sp-md;
  margin-bottom: $sp-md;
}
.mv4 {
  margin-top: $sp-lg;
  margin-bottom: $sp-lg;
}
.mv5 {
  margin-top: $sp-xl;
  margin-bottom: $sp-xl;
}
.mv6 {
  margin-top: $sp-xxl;
  margin-bottom: $sp-xxl;
}
.mv7 {
  margin-top: $sp-xxxl;
  margin-bottom: $sp-xxxl;
}

.mh0 {
  margin-left: $sp-none;
  margin-right: $sp-none;
}
.mh1 {
  margin-left: $sp-xs;
  margin-right: $sp-xs;
}
.mh2 {
  margin-left: $sp-sm;
  margin-right: $sp-sm;
}
.mh3 {
  margin-left: $sp-md;
  margin-right: $sp-md;
}
.mh4 {
  margin-left: $sp-lg;
  margin-right: $sp-lg;
}
.mh5 {
  margin-left: $sp-xl;
  margin-right: $sp-xl;
}
.mh6 {
  margin-left: $sp-xxl;
  margin-right: $sp-xxl;
}
.mh7 {
  margin-left: $sp-xxxl;
  margin-right: $sp-xxxl;
}

@media screen and (min-width: $media-sm) {
  .pa0-ns {
    padding: $sp-none;
  }
  .pa1-ns {
    padding: $sp-xs;
  }
  .pa2-ns {
    padding: $sp-sm;
  }
  .pa3-ns {
    padding: $sp-md;
  }
  .pa4-ns {
    padding: $sp-lg;
  }
  .pa5-ns {
    padding: $sp-xl;
  }
  .pa6-ns {
    padding: $sp-xxl;
  }
  .pa7-ns {
    padding: $sp-xxxl;
  }

  .pl0-ns {
    padding-left: $sp-none;
  }
  .pl1-ns {
    padding-left: $sp-xs;
  }
  .pl2-ns {
    padding-left: $sp-sm;
  }
  .pl3-ns {
    padding-left: $sp-md;
  }
  .pl4-ns {
    padding-left: $sp-lg;
  }
  .pl5-ns {
    padding-left: $sp-xl;
  }
  .pl6-ns {
    padding-left: $sp-xxl;
  }
  .pl7-ns {
    padding-left: $sp-xxxl;
  }

  .pr0-ns {
    padding-right: $sp-none;
  }
  .pr1-ns {
    padding-right: $sp-xs;
  }
  .pr2-ns {
    padding-right: $sp-sm;
  }
  .pr3-ns {
    padding-right: $sp-md;
  }
  .pr4-ns {
    padding-right: $sp-lg;
  }
  .pr5-ns {
    padding-right: $sp-xl;
  }
  .pr6-ns {
    padding-right: $sp-xxl;
  }
  .pr7-ns {
    padding-right: $sp-xxxl;
  }

  .pb0-ns {
    padding-bottom: $sp-none;
  }
  .pb1-ns {
    padding-bottom: $sp-xs;
  }
  .pb2-ns {
    padding-bottom: $sp-sm;
  }
  .pb3-ns {
    padding-bottom: $sp-md;
  }
  .pb4-ns {
    padding-bottom: $sp-lg;
  }
  .pb5-ns {
    padding-bottom: $sp-xl;
  }
  .pb6-ns {
    padding-bottom: $sp-xxl;
  }
  .pb7-ns {
    padding-bottom: $sp-xxxl;
  }

  .pt0-ns {
    padding-top: $sp-none;
  }
  .pt1-ns {
    padding-top: $sp-xs;
  }
  .pt2-ns {
    padding-top: $sp-sm;
  }
  .pt3-ns {
    padding-top: $sp-md;
  }
  .pt4-ns {
    padding-top: $sp-lg;
  }
  .pt5-ns {
    padding-top: $sp-xl;
  }
  .pt6-ns {
    padding-top: $sp-xxl;
  }
  .pt7-ns {
    padding-top: $sp-xxxl;
  }

  .pv0-ns {
    padding-top: $sp-none;
    padding-bottom: $sp-none;
  }
  .pv1-ns {
    padding-top: $sp-xs;
    padding-bottom: $sp-xs;
  }
  .pv2-ns {
    padding-top: $sp-sm;
    padding-bottom: $sp-sm;
  }
  .pv3-ns {
    padding-top: $sp-md;
    padding-bottom: $sp-md;
  }
  .pv4-ns {
    padding-top: $sp-lg;
    padding-bottom: $sp-lg;
  }
  .pv5-ns {
    padding-top: $sp-xl;
    padding-bottom: $sp-xl;
  }
  .pv6-ns {
    padding-top: $sp-xxl;
    padding-bottom: $sp-xxl;
  }
  .pv7-ns {
    padding-top: $sp-xxxl;
    padding-bottom: $sp-xxxl;
  }
  .ph0-ns {
    padding-left: $sp-none;
    padding-right: $sp-none;
  }
  .ph1-ns {
    padding-left: $sp-xs;
    padding-right: $sp-xs;
  }
  .ph2-ns {
    padding-left: $sp-sm;
    padding-right: $sp-sm;
  }
  .ph3-ns {
    padding-left: $sp-md;
    padding-right: $sp-md;
  }
  .ph4-ns {
    padding-left: $sp-lg;
    padding-right: $sp-lg;
  }
  .ph5-ns {
    padding-left: $sp-xl;
    padding-right: $sp-xl;
  }
  .ph6-ns {
    padding-left: $sp-xxl;
    padding-right: $sp-xxl;
  }
  .ph7-ns {
    padding-left: $sp-xxxl;
    padding-right: $sp-xxxl;
  }

  .ma0-ns {
    margin: $sp-none;
  }
  .ma1-ns {
    margin: $sp-xs;
  }
  .ma2-ns {
    margin: $sp-sm;
  }
  .ma3-ns {
    margin: $sp-md;
  }
  .ma4-ns {
    margin: $sp-lg;
  }
  .ma5-ns {
    margin: $sp-xl;
  }
  .ma6-ns {
    margin: $sp-xxl;
  }
  .ma7-ns {
    margin: $sp-xxxl;
  }

  .ml0-ns {
    margin-left: $sp-none;
  }
  .ml1-ns {
    margin-left: $sp-xs;
  }
  .ml2-ns {
    margin-left: $sp-sm;
  }
  .ml3-ns {
    margin-left: $sp-md;
  }
  .ml4-ns {
    margin-left: $sp-lg;
  }
  .ml5-ns {
    margin-left: $sp-xl;
  }
  .ml6-ns {
    margin-left: $sp-xxl;
  }
  .ml7-ns {
    margin-left: $sp-xxxl;
  }

  .mr0-ns {
    margin-right: $sp-none;
  }
  .mr1-ns {
    margin-right: $sp-xs;
  }
  .mr2-ns {
    margin-right: $sp-sm;
  }
  .mr3-ns {
    margin-right: $sp-md;
  }
  .mr4-ns {
    margin-right: $sp-lg;
  }
  .mr5-ns {
    margin-right: $sp-xl;
  }
  .mr6-ns {
    margin-right: $sp-xxl;
  }
  .mr7-ns {
    margin-right: $sp-xxxl;
  }

  .mb0-ns {
    margin-bottom: $sp-none;
  }
  .mb1-ns {
    margin-bottom: $sp-xs;
  }
  .mb2-ns {
    margin-bottom: $sp-sm;
  }
  .mb3-ns {
    margin-bottom: $sp-md;
  }
  .mb4-ns {
    margin-bottom: $sp-lg;
  }
  .mb5-ns {
    margin-bottom: $sp-xl;
  }
  .mb6-ns {
    margin-bottom: $sp-xxl;
  }
  .mb7-ns {
    margin-bottom: $sp-xxxl;
  }

  .mt0-ns {
    margin-top: $sp-none;
  }
  .mt1-ns {
    margin-top: $sp-xs;
  }
  .mt2-ns {
    margin-top: $sp-sm;
  }
  .mt3-ns {
    margin-top: $sp-md;
  }
  .mt4-ns {
    margin-top: $sp-lg;
  }
  .mt5-ns {
    margin-top: $sp-xl;
  }
  .mt6-ns {
    margin-top: $sp-xxl;
  }
  .mt7-ns {
    margin-top: $sp-xxxl;
  }

  .mv0-ns {
    margin-top: $sp-none;
    margin-bottom: $sp-none;
  }
  .mv1-ns {
    margin-top: $sp-xs;
    margin-bottom: $sp-xs;
  }
  .mv2-ns {
    margin-top: $sp-sm;
    margin-bottom: $sp-sm;
  }
  .mv3-ns {
    margin-top: $sp-md;
    margin-bottom: $sp-md;
  }
  .mv4-ns {
    margin-top: $sp-lg;
    margin-bottom: $sp-lg;
  }
  .mv5-ns {
    margin-top: $sp-xl;
    margin-bottom: $sp-xl;
  }
  .mv6-ns {
    margin-top: $sp-xxl;
    margin-bottom: $sp-xxl;
  }
  .mv7-ns {
    margin-top: $sp-xxxl;
    margin-bottom: $sp-xxxl;
  }

  .mh0-ns {
    margin-left: $sp-none;
    margin-right: $sp-none;
  }
  .mh1-ns {
    margin-left: $sp-xs;
    margin-right: $sp-xs;
  }
  .mh2-ns {
    margin-left: $sp-sm;
    margin-right: $sp-sm;
  }
  .mh3-ns {
    margin-left: $sp-md;
    margin-right: $sp-md;
  }
  .mh4-ns {
    margin-left: $sp-lg;
    margin-right: $sp-lg;
  }
  .mh5-ns {
    margin-left: $sp-xl;
    margin-right: $sp-xl;
  }
  .mh6-ns {
    margin-left: $sp-xxl;
    margin-right: $sp-xxl;
  }
  .mh7-ns {
    margin-left: $sp-xxxl;
    margin-right: $sp-xxxl;
  }
}

@media screen and (min-width: $media-md) {
  .pa0-m {
    padding: $sp-none;
  }
  .pa1-m {
    padding: $sp-xs;
  }
  .pa2-m {
    padding: $sp-sm;
  }
  .pa3-m {
    padding: $sp-md;
  }
  .pa4-m {
    padding: $sp-lg;
  }
  .pa5-m {
    padding: $sp-xl;
  }
  .pa6-m {
    padding: $sp-xxl;
  }
  .pa7-m {
    padding: $sp-xxxl;
  }

  .pl0-m {
    padding-left: $sp-none;
  }
  .pl1-m {
    padding-left: $sp-xs;
  }
  .pl2-m {
    padding-left: $sp-sm;
  }
  .pl3-m {
    padding-left: $sp-md;
  }
  .pl4-m {
    padding-left: $sp-lg;
  }
  .pl5-m {
    padding-left: $sp-xl;
  }
  .pl6-m {
    padding-left: $sp-xxl;
  }
  .pl7-m {
    padding-left: $sp-xxxl;
  }

  .pr0-m {
    padding-right: $sp-none;
  }
  .pr1-m {
    padding-right: $sp-xs;
  }
  .pr2-m {
    padding-right: $sp-sm;
  }
  .pr3-m {
    padding-right: $sp-md;
  }
  .pr4-m {
    padding-right: $sp-lg;
  }
  .pr5-m {
    padding-right: $sp-xl;
  }
  .pr6-m {
    padding-right: $sp-xxl;
  }
  .pr7-m {
    padding-right: $sp-xxxl;
  }

  .pb0-m {
    padding-bottom: $sp-none;
  }
  .pb1-m {
    padding-bottom: $sp-xs;
  }
  .pb2-m {
    padding-bottom: $sp-sm;
  }
  .pb3-m {
    padding-bottom: $sp-md;
  }
  .pb4-m {
    padding-bottom: $sp-lg;
  }
  .pb5-m {
    padding-bottom: $sp-xl;
  }
  .pb6-m {
    padding-bottom: $sp-xxl;
  }
  .pb7-m {
    padding-bottom: $sp-xxxl;
  }

  .pt0-m {
    padding-top: $sp-none;
  }
  .pt1-m {
    padding-top: $sp-xs;
  }
  .pt2-m {
    padding-top: $sp-sm;
  }
  .pt3-m {
    padding-top: $sp-md;
  }
  .pt4-m {
    padding-top: $sp-lg;
  }
  .pt5-m {
    padding-top: $sp-xl;
  }
  .pt6-m {
    padding-top: $sp-xxl;
  }
  .pt7-m {
    padding-top: $sp-xxxl;
  }

  .pv0-m {
    padding-top: $sp-none;
    padding-bottom: $sp-none;
  }
  .pv1-m {
    padding-top: $sp-xs;
    padding-bottom: $sp-xs;
  }
  .pv2-m {
    padding-top: $sp-sm;
    padding-bottom: $sp-sm;
  }
  .pv3-m {
    padding-top: $sp-md;
    padding-bottom: $sp-md;
  }
  .pv4-m {
    padding-top: $sp-lg;
    padding-bottom: $sp-lg;
  }
  .pv5-m {
    padding-top: $sp-xl;
    padding-bottom: $sp-xl;
  }
  .pv6-m {
    padding-top: $sp-xxl;
    padding-bottom: $sp-xxl;
  }
  .pv7-m {
    padding-top: $sp-xxxl;
    padding-bottom: $sp-xxxl;
  }

  .ph0-m {
    padding-left: $sp-none;
    padding-right: $sp-none;
  }
  .ph1-m {
    padding-left: $sp-xs;
    padding-right: $sp-xs;
  }
  .ph2-m {
    padding-left: $sp-sm;
    padding-right: $sp-sm;
  }
  .ph3-m {
    padding-left: $sp-md;
    padding-right: $sp-md;
  }
  .ph4-m {
    padding-left: $sp-lg;
    padding-right: $sp-lg;
  }
  .ph5-m {
    padding-left: $sp-xl;
    padding-right: $sp-xl;
  }
  .ph6-m {
    padding-left: $sp-xxl;
    padding-right: $sp-xxl;
  }
  .ph7-m {
    padding-left: $sp-xxxl;
    padding-right: $sp-xxxl;
  }

  .ma0-m {
    margin: $sp-none;
  }
  .ma1-m {
    margin: $sp-xs;
  }
  .ma2-m {
    margin: $sp-sm;
  }
  .ma3-m {
    margin: $sp-md;
  }
  .ma4-m {
    margin: $sp-lg;
  }
  .ma5-m {
    margin: $sp-xl;
  }
  .ma6-m {
    margin: $sp-xxl;
  }
  .ma7-m {
    margin: $sp-xxxl;
  }

  .ml0-m {
    margin-left: $sp-none;
  }
  .ml1-m {
    margin-left: $sp-xs;
  }
  .ml2-m {
    margin-left: $sp-sm;
  }
  .ml3-m {
    margin-left: $sp-md;
  }
  .ml4-m {
    margin-left: $sp-lg;
  }
  .ml5-m {
    margin-left: $sp-xl;
  }
  .ml6-m {
    margin-left: $sp-xxl;
  }
  .ml7-m {
    margin-left: $sp-xxxl;
  }

  .mr0-m {
    margin-right: $sp-none;
  }
  .mr1-m {
    margin-right: $sp-xs;
  }
  .mr2-m {
    margin-right: $sp-sm;
  }
  .mr3-m {
    margin-right: $sp-md;
  }
  .mr4-m {
    margin-right: $sp-lg;
  }
  .mr5-m {
    margin-right: $sp-xl;
  }
  .mr6-m {
    margin-right: $sp-xxl;
  }
  .mr7-m {
    margin-right: $sp-xxxl;
  }

  .mb0-m {
    margin-bottom: $sp-none;
  }
  .mb1-m {
    margin-bottom: $sp-xs;
  }
  .mb2-m {
    margin-bottom: $sp-sm;
  }
  .mb3-m {
    margin-bottom: $sp-md;
  }
  .mb4-m {
    margin-bottom: $sp-lg;
  }
  .mb5-m {
    margin-bottom: $sp-xl;
  }
  .mb6-m {
    margin-bottom: $sp-xxl;
  }
  .mb7-m {
    margin-bottom: $sp-xxxl;
  }

  .mt0-m {
    margin-top: $sp-none;
  }
  .mt1-m {
    margin-top: $sp-xs;
  }
  .mt2-m {
    margin-top: $sp-sm;
  }
  .mt3-m {
    margin-top: $sp-md;
  }
  .mt4-m {
    margin-top: $sp-lg;
  }
  .mt5-m {
    margin-top: $sp-xl;
  }
  .mt6-m {
    margin-top: $sp-xxl;
  }
  .mt7-m {
    margin-top: $sp-xxxl;
  }

  .mv0-m {
    margin-top: $sp-none;
    margin-bottom: $sp-none;
  }
  .mv1-m {
    margin-top: $sp-xs;
    margin-bottom: $sp-xs;
  }
  .mv2-m {
    margin-top: $sp-sm;
    margin-bottom: $sp-sm;
  }
  .mv3-m {
    margin-top: $sp-md;
    margin-bottom: $sp-md;
  }
  .mv4-m {
    margin-top: $sp-lg;
    margin-bottom: $sp-lg;
  }
  .mv5-m {
    margin-top: $sp-xl;
    margin-bottom: $sp-xl;
  }
  .mv6-m {
    margin-top: $sp-xxl;
    margin-bottom: $sp-xxl;
  }
  .mv7-m {
    margin-top: $sp-xxxl;
    margin-bottom: $sp-xxxl;
  }

  .mh0-m {
    margin-left: $sp-none;
    margin-right: $sp-none;
  }
  .mh1-m {
    margin-left: $sp-xs;
    margin-right: $sp-xs;
  }
  .mh2-m {
    margin-left: $sp-sm;
    margin-right: $sp-sm;
  }
  .mh3-m {
    margin-left: $sp-md;
    margin-right: $sp-md;
  }
  .mh4-m {
    margin-left: $sp-lg;
    margin-right: $sp-lg;
  }
  .mh5-m {
    margin-left: $sp-xl;
    margin-right: $sp-xl;
  }
  .mh6-m {
    margin-left: $sp-xxl;
    margin-right: $sp-xxl;
  }
  .mh7-m {
    margin-left: $sp-xxxl;
    margin-right: $sp-xxxl;
  }
}

@media screen and (min-width: $media-lg) {
  .pa0-l {
    padding: $sp-none;
  }
  .pa1-l {
    padding: $sp-xs;
  }
  .pa2-l {
    padding: $sp-sm;
  }
  .pa3-l {
    padding: $sp-md;
  }
  .pa4-l {
    padding: $sp-lg;
  }
  .pa5-l {
    padding: $sp-xl;
  }
  .pa6-l {
    padding: $sp-xxl;
  }
  .pa7-l {
    padding: $sp-xxxl;
  }

  .pl0-l {
    padding-left: $sp-none;
  }
  .pl1-l {
    padding-left: $sp-xs;
  }
  .pl2-l {
    padding-left: $sp-sm;
  }
  .pl3-l {
    padding-left: $sp-md;
  }
  .pl4-l {
    padding-left: $sp-lg;
  }
  .pl5-l {
    padding-left: $sp-xl;
  }
  .pl6-l {
    padding-left: $sp-xxl;
  }
  .pl7-l {
    padding-left: $sp-xxxl;
  }

  .pr0-l {
    padding-right: $sp-none;
  }
  .pr1-l {
    padding-right: $sp-xs;
  }
  .pr2-l {
    padding-right: $sp-sm;
  }
  .pr3-l {
    padding-right: $sp-md;
  }
  .pr4-l {
    padding-right: $sp-lg;
  }
  .pr5-l {
    padding-right: $sp-xl;
  }
  .pr6-l {
    padding-right: $sp-xxl;
  }
  .pr7-l {
    padding-right: $sp-xxxl;
  }

  .pb0-l {
    padding-bottom: $sp-none;
  }
  .pb1-l {
    padding-bottom: $sp-xs;
  }
  .pb2-l {
    padding-bottom: $sp-sm;
  }
  .pb3-l {
    padding-bottom: $sp-md;
  }
  .pb4-l {
    padding-bottom: $sp-lg;
  }
  .pb5-l {
    padding-bottom: $sp-xl;
  }
  .pb6-l {
    padding-bottom: $sp-xxl;
  }
  .pb7-l {
    padding-bottom: $sp-xxxl;
  }

  .pt0-l {
    padding-top: $sp-none;
  }
  .pt1-l {
    padding-top: $sp-xs;
  }
  .pt2-l {
    padding-top: $sp-sm;
  }
  .pt3-l {
    padding-top: $sp-md;
  }
  .pt4-l {
    padding-top: $sp-lg;
  }
  .pt5-l {
    padding-top: $sp-xl;
  }
  .pt6-l {
    padding-top: $sp-xxl;
  }
  .pt7-l {
    padding-top: $sp-xxxl;
  }

  .pv0-l {
    padding-top: $sp-none;
    padding-bottom: $sp-none;
  }
  .pv1-l {
    padding-top: $sp-xs;
    padding-bottom: $sp-xs;
  }
  .pv2-l {
    padding-top: $sp-sm;
    padding-bottom: $sp-sm;
  }
  .pv3-l {
    padding-top: $sp-md;
    padding-bottom: $sp-md;
  }
  .pv4-l {
    padding-top: $sp-lg;
    padding-bottom: $sp-lg;
  }
  .pv5-l {
    padding-top: $sp-xl;
    padding-bottom: $sp-xl;
  }
  .pv6-l {
    padding-top: $sp-xxl;
    padding-bottom: $sp-xxl;
  }
  .pv7-l {
    padding-top: $sp-xxxl;
    padding-bottom: $sp-xxxl;
  }

  .ph0-l {
    padding-left: $sp-none;
    padding-right: $sp-none;
  }
  .ph1-l {
    padding-left: $sp-xs;
    padding-right: $sp-xs;
  }
  .ph2-l {
    padding-left: $sp-sm;
    padding-right: $sp-sm;
  }
  .ph3-l {
    padding-left: $sp-md;
    padding-right: $sp-md;
  }
  .ph4-l {
    padding-left: $sp-lg;
    padding-right: $sp-lg;
  }
  .ph5-l {
    padding-left: $sp-xl;
    padding-right: $sp-xl;
  }
  .ph6-l {
    padding-left: $sp-xxl;
    padding-right: $sp-xxl;
  }
  .ph7-l {
    padding-left: $sp-xxxl;
    padding-right: $sp-xxxl;
  }

  .ma0-l {
    margin: $sp-none;
  }
  .ma1-l {
    margin: $sp-xs;
  }
  .ma2-l {
    margin: $sp-sm;
  }
  .ma3-l {
    margin: $sp-md;
  }
  .ma4-l {
    margin: $sp-lg;
  }
  .ma5-l {
    margin: $sp-xl;
  }
  .ma6-l {
    margin: $sp-xxl;
  }
  .ma7-l {
    margin: $sp-xxxl;
  }

  .ml0-l {
    margin-left: $sp-none;
  }
  .ml1-l {
    margin-left: $sp-xs;
  }
  .ml2-l {
    margin-left: $sp-sm;
  }
  .ml3-l {
    margin-left: $sp-md;
  }
  .ml4-l {
    margin-left: $sp-lg;
  }
  .ml5-l {
    margin-left: $sp-xl;
  }
  .ml6-l {
    margin-left: $sp-xxl;
  }
  .ml7-l {
    margin-left: $sp-xxxl;
  }

  .mr0-l {
    margin-right: $sp-none;
  }
  .mr1-l {
    margin-right: $sp-xs;
  }
  .mr2-l {
    margin-right: $sp-sm;
  }
  .mr3-l {
    margin-right: $sp-md;
  }
  .mr4-l {
    margin-right: $sp-lg;
  }
  .mr5-l {
    margin-right: $sp-xl;
  }
  .mr6-l {
    margin-right: $sp-xxl;
  }
  .mr7-l {
    margin-right: $sp-xxxl;
  }

  .mb0-l {
    margin-bottom: $sp-none;
  }
  .mb1-l {
    margin-bottom: $sp-xs;
  }
  .mb2-l {
    margin-bottom: $sp-sm;
  }
  .mb3-l {
    margin-bottom: $sp-md;
  }
  .mb4-l {
    margin-bottom: $sp-lg;
  }
  .mb5-l {
    margin-bottom: $sp-xl;
  }
  .mb6-l {
    margin-bottom: $sp-xxl;
  }
  .mb7-l {
    margin-bottom: $sp-xxxl;
  }

  .mt0-l {
    margin-top: $sp-none;
  }
  .mt1-l {
    margin-top: $sp-xs;
  }
  .mt2-l {
    margin-top: $sp-sm;
  }
  .mt3-l {
    margin-top: $sp-md;
  }
  .mt4-l {
    margin-top: $sp-lg;
  }
  .mt5-l {
    margin-top: $sp-xl;
  }
  .mt6-l {
    margin-top: $sp-xxl;
  }
  .mt7-l {
    margin-top: $sp-xxxl;
  }

  .mv0-l {
    margin-top: $sp-none;
    margin-bottom: $sp-none;
  }
  .mv1-l {
    margin-top: $sp-xs;
    margin-bottom: $sp-xs;
  }
  .mv2-l {
    margin-top: $sp-sm;
    margin-bottom: $sp-sm;
  }
  .mv3-l {
    margin-top: $sp-md;
    margin-bottom: $sp-md;
  }
  .mv4-l {
    margin-top: $sp-lg;
    margin-bottom: $sp-lg;
  }
  .mv5-l {
    margin-top: $sp-xl;
    margin-bottom: $sp-xl;
  }
  .mv6-l {
    margin-top: $sp-xxl;
    margin-bottom: $sp-xxl;
  }
  .mv7-l {
    margin-top: $sp-xxxl;
    margin-bottom: $sp-xxxl;
  }

  .mh0-l {
    margin-left: $sp-none;
    margin-right: $sp-none;
  }
  .mh1-l {
    margin-left: $sp-xs;
    margin-right: $sp-xs;
  }
  .mh2-l {
    margin-left: $sp-sm;
    margin-right: $sp-sm;
  }
  .mh3-l {
    margin-left: $sp-md;
    margin-right: $sp-md;
  }
  .mh4-l {
    margin-left: $sp-lg;
    margin-right: $sp-lg;
  }
  .mh5-l {
    margin-left: $sp-xl;
    margin-right: $sp-xl;
  }
  .mh6-l {
    margin-left: $sp-xxl;
    margin-right: $sp-xxl;
  }
  .mh7-l {
    margin-left: $sp-xxxl;
    margin-right: $sp-xxxl;
  }
}
