// set the font family, basesize, weight, line height,
@mixin headerType(
  $header-family,
  $header-base-size,
  $header-line-height,
  $header-weight,
  $type-scaler
) {
  .display,
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-family: $header-family;
    line-height: $header-line-height;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: $header-weight;

    &__strong {
      font-weight: 900; // todo add strong header variable
    }
  }
}

// set header mixins for use in other classes
@mixin h1 {
  font-size: $type-base-size * $type-scaler * $type-scaler * $type-scaler *
    $type-scaler * $type-scaler * $type-scaler;
}

@mixin h2 {
  font-size: $type-base-size * $type-scaler * $type-scaler * $type-scaler *
    $type-scaler * $type-scaler;
}

@mixin h3 {
  font-size: $type-base-size * $type-scaler * $type-scaler * $type-scaler *
    $type-scaler;
}

@mixin h4 {
  font-size: $type-base-size * $type-scaler * $type-scaler * $type-scaler;
}

@mixin h5 {
  font-size: $type-base-size * $type-scaler * $type-scaler;
}

@mixin h6 {
  font-size: $type-base-size;
}

@mixin container($mwidth) {
  .test {
    max-width: $mwidth;
  }
}

//  set alt weight
@mixin altWeight($type-alt-weight) {
  font-weight: $type-alt-weight;
}

// generate type hierarchy
@mixin typeScales($header-base-size, $type-scaler) {
  .display {
    font-size: $header-base-size * $type-scaler * $type-scaler * $type-scaler *
      $type-scaler * $type-scaler * $type-scaler * $type-scaler;
  }

  h1,
  .h1,
  .exa {
    font-size: $header-base-size * $type-scaler * $type-scaler * $type-scaler *
      $type-scaler * $type-scaler * $type-scaler;
  }

  h2,
  .h2,
  .peta {
    font-size: $header-base-size * $type-scaler * $type-scaler * $type-scaler *
      $type-scaler * $type-scaler;
  }

  h3,
  .h3,
  .tera {
    font-size: $header-base-size * $type-scaler * $type-scaler * $type-scaler *
      $type-scaler;
  }

  h4,
  .h4,
  .giga {
    font-size: $header-base-size * $type-scaler * $type-scaler * $type-scaler;
  }

  h5,
  .h5,
  .mega {
    font-size: $header-base-size * $type-scaler * $type-scaler;
  }

  .kilo-1 {
    font-size: $header-base-size * $type-scaler;
  }

  h6,
  .h6,
  .kilo {
    font-size: $header-base-size * $type-scaler;
  }

  .body {
    &__large {
      font-size: $type-base-size * $type-scaler;
    }

    &__default {
      font-size: $type-base-size;
    }

    &__small {
      font-size: $type-base-size * 0.8;
    }
  }

  .micro {
    font-size: 0.5rem;
  }

  .milli {
    font-size: $header-base-size/$type-scaler;
  }
}
